services:
  app:
    container_name: unified-chat 
    build: .
    ports:
      - "3000:3000"
    volumes:
      # Удалена строка: - .:/usr/src/app
      # Это исправляет проблемы синхронизации CSS/HTML на Windows.
      - /usr/src/app/node_modules
    depends_on:
      - postgres
    restart: always 
    
  postgres:
    container_name: chat_postgres
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: chatdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: